body {

  background-color: lightblue;

}



.container {

  margin: 20px auto;

  width: 80%;

}



.section {

  padding: 20px;

  margin-bottom: 20px;

}



.bloque1 {

  background-color: gold;

  border: 2px solid;

  margin-top: 3px;

  margin-bottom: 5px;       

}



.bloque2 {

  background-color: silver;

  border: 2px solid;          

}



.imge {

  text-align: center;

}